In [1]:
import pandas as pd
from pathlib import Path

In [ ]:
# This dataframe will have:
# unit_id
# unit_address - lat/long
# unit_list_price in USD
# unit_sale_price in USD (if sold)
# unit_size (in sqft)
# unit_status - sold, available, etc.

In [ ]:
# We will need to show an interactive map, where we can filter by locality, unit status or price range

# Locality - drop down list box
# Unit Status - Drop down list box
# Price Range - Slider

In [ ]:
# FTX API

# For the selected unit - provide BITCOIN price - static
# Also, continuous stream of BITCOIN pricing for the listed unit

In [2]:
units_df = pd.read_json(Path('data/units.json'))
units_df

,id,project_id,floor_plan_id,title,description,price,status,user_id,promised_delivery_date,project_phase_id,inserted_at,updated_at,metadata,mls_id,level,listing_date
0,43,9,31,Unit A,None,424000,sold,287.0,2017-05-01,1.0,2014-07-02 00:23:21,2014-07-02 00:23:21,None,None,NaN,None
1,44,9,30,Unit B,None,469000,sold,633.0,2017-05-01,1.0,2014-07-02 00:23:21,2014-07-02 00:23:21,None,None,NaN,None
2,45,9,30,Unit C,None,469000,sold,721.0,2017-05-01,1.0,2014-07-02 00:23:21,2014-07-02 00:23:21,None,None,NaN,None
3,46,9,30,Unit D,None,444000,sold,479.0,2017-05-01,1.0,2014-07-02 00:23:21,2014-07-02 00:23:21,None,None,NaN,None
4,47,9,30,Unit E,None,459000,sold,594.0,2017-05-01,1.0,2014-07-02 00:23:21,2014-07-02 00:23:21,None,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1745,1961,277,1439,1119 N. American St. Unit 3,None,295000,available,NaN,2021-05-01,NaN,2019-08-19 17:06:51,2020-04-09 21:46:37,None,None,NaN,None
1746,1962,277,1440,1119 N. American St. Unit 4,None,470000,available,NaN,2021-05-01,NaN,2019-08-19 17:07:21,2020-04-09 21:46:54,None,None,NaN,None
1747,1963,277,1441,1119 N. American St. Unit 5,None,465000,available,NaN,2021-05-01,NaN,2019-08-19 17:08:10,2020-04-09 21:47:29,None,None,NaN,None
1748,1964,277,1442,1119 N. American St. Unit 6,None,465000,available,NaN,2021-05-01,NaN,2019-08-19 17:08:32,2020-04-09 21:47:44,None,None,NaN,None
1749,1965,277,1443,1119 N. American St. Unit 7,None,470000,available,NaN,2021-05-01,NaN,2019-08-19 17:09:00,2020-04-09 21:48:12,None,None,NaN,None

In [3]:
units_addresses_df = pd.read_json(Path('data/unit_addresses.json'))
units_addresses_df

,id,unit_id,thoroughfare,locality,administrative_area,postal_code,geocode,inserted_at,updated_at
0,1,2258,7051 E OBELISKS ST,Boise,ID,83716,"{""latitude"": 43.531584, ""longitude"": -116.096276}",2020-02-21 03:15:52,2020-02-21 03:15:52
1,2,2259,7014 E FAREWELL BEND CT,Boise,ID,83716,"{""latitude"": 44.2982172, ""longitude"": -117.219...",2020-02-21 03:20:11,2020-02-21 03:20:11
2,10,2470,14718 Garner Falls Trail,Humble,TX,77396,"{""latitude"": 29.9311359, ""longitude"": -95.2684...",2020-03-26 13:21:40,2020-03-26 13:21:40
3,11,2471,14706 Garner Falls Trail,Humble,TX,77396,"{""latitude"": 29.9311359, ""longitude"": -95.2684...",2020-03-26 13:47:52,2020-03-26 13:47:52
4,216,2660,2569 Bayrose Cir,East Point,GA,30344,"{""latitude"": 33.7038853, ""longitude"": -84.4453...",2020-04-15 16:10:23,2020-04-15 16:10:23
...,...,...,...,...,...,...,...,...,...
222,738,2839,675 Drewry Street,Atlanta,GA,30306,"{""latitude"": 33.7775062, ""longitude"": -84.3651...",2022-02-03 10:22:30,2022-02-03 10:22:30
223,739,2882,675 Drewry Street,Atlanta,GA,30306,"{""latitude"": 33.7775062, ""longitude"": -84.3651...",2022-02-03 10:23:17,2022-02-03 10:23:17
224,740,2864,675 Drewry Street,Atlanta,GA,30306,"{""latitude"": 33.7775062, ""longitude"": -84.3651...",2022-02-07 16:00:35,2022-02-07 16:00:35
225,741,3463,220 Lake Shore,Palm Beach,FL,33403,"{""latitude"": 26.794158, ""longitude"": -80.05336}",2022-02-10 12:19:05,2022-02-10 12:19:05
226,742,2865,675 Drewry Street,Atlanta,GA,30306,"{""latitude"": 33.7775062, ""longitude"": -84.3651...",2022-02-16 21:00:26,2022-02-16 21:00:26

In [4]:
projects_df = pd.read_json(Path('data/projects.json'))
projects_df

,id,title,user_id,status,slug,website,inserted_at,updated_at,public_at,reservation_price,...,reservation_expiration_cancellation_policy,reservation_cancellation_policy_description,reservation_cancellation_fee,deleted_at,gross_sellout_value,lead_assignment_policy,lead_assignment_pool_options,registration_fields,inception_date,marketplace_config
0,3,Green Nine Townhomes,1,None,green-nine-townhomes,None,2014-01-13 22:18:26,2016-08-31 00:32:33,NaT,NaN,...,None,NaN,NaN,2016-08-31 00:32:33,NaN,None,None,None,None,None
1,5,Berks Street,1,None,berks-street,None,2014-01-23 19:39:59,2016-08-31 00:32:33,NaT,NaN,...,None,NaN,NaN,2016-08-31 00:32:33,NaN,None,None,None,None,None
2,6,Howard Park,9,None,howard-park,None,2016-06-09 16:00:00,2019-10-29 21:44:08,2016-06-09 16:00:00,NaN,...,None,NaN,NaN,NaT,NaN,None,None,None,None,None
3,7,Quarters at Queen Village,9,None,quarters-at-queen-village,None,2014-05-21 20:31:12,2017-08-29 01:29:51,NaT,NaN,...,None,NaN,NaN,2017-08-29 01:29:51,NaN,None,None,None,None,None
4,8,Le Vieux Carre Condos,9,None,le-vieux-carre-condos,None,2014-06-10 00:08:22,2020-12-24 18:23:34,NaT,NaN,...,None,NaN,NaN,NaT,NaN,None,None,"[{""field"":""secondarySourceId"", ""required"":true...",None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,426,The Residences at the Waldorf Astoria Miami,3743,None,the-residences-at-the-waldorf-astoria-miami,None,2022-01-19 16:03:30,2022-01-26 22:40:07,NaT,NaN,...,None,NaN,NaN,NaT,NaN,None,None,None,None,None
414,427,Stillwood,3734,coming_soon,stillwood,https://www.ownstillwood.com/,2022-01-26 16:11:52,2022-01-27 19:37:28,2022-01-26 16:23:27,NaN,...,None,NaN,NaN,NaT,NaN,None,None,"[\n {""field"": ""phone"", ""required"": false},\n ...",None,None
415,428,Aria Reserve,3743,None,aria-reserve,https://ariareserve.com,2022-02-02 19:40:32,2022-02-04 22:04:10,2022-02-04 22:04:10,NaN,...,None,NaN,NaN,NaT,NaN,None,None,None,None,"{""lux"": true}"
416,429,Okan Tower,3743,None,okan-tower-1,None,2022-02-07 17:31:57,2022-02-07 17:31:57,NaT,NaN,...,None,NaN,NaN,NaT,NaN,None,None,None,None,None
417,430,Aster,2,None,aster,None,2022-02-11 01:13:58,2022-02-11 01:13:58,NaT,NaN,...,None,NaN,NaN,NaT,NaN,None,None,None,None,None